@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
body {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

.container {
    width: 1088px;
    margin: 0 auto;
    cursor: default;
}

header {
    width: 100%;
    position: relative;
    background-color: #00000066;
    display: flex;
    justify-content: center;
}

header .side {
    background-color: #00000066;
    width: calc((100vw - 1088px)/2);
    height: 78px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    padding: 20px;
    font-size: 35px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    background-color: #00000066;
    justify-self: start;
    width: 50%;
    cursor: default;
}

header .logo span {
    color: #FF0000;
}

header nav {
    /* border-bottom: 1px solid #00000066; */
    font-size: 16px;
    align-self: right;
    width: 50%;
}

header nav ul {
    display: flex;
    justify-content: right;
    flex-direction: row;
    width: 100%;
}

header nav li {
    padding: 31px 30px;
    background-color: #00000066;
}

header nav li.extender {
    width: 100%;
}

header nav li:hover {
    background-color: #00000000;
    cursor: default;
}

header nav li.extender:hover {
    width: 100%;
    background-color: #00000066;
}

header::before {
    display: block;
    content: "";
    position: absolute;
    background-image: url("../images/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 807px;
    top: 0;
    left: 0;
    z-index: -1;
}

.banner {
    height: 730px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
}

.banner h1 {
    text-transform: uppercase;
    font-size: 115px;
    font-weight: 900;
}

.banner p {
    font-size: 20px;
    margin: 20px 0;
}

.positioner {
    position: relative;
    width: 100vw;
}

.banner::before {
    display: block;
    content: "";
    position: absolute;
    background-color: #00000066;
    width: 100%;
    height: 730px;
    top: 0;
    left: 0;
    z-index: -1;
}

.banner .buttons {
    margin: 40px 0;
}

.btn__primary {
    background-color: #FF0000;
    color: white;
    margin-right: 20px;
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.btn__secondary {
    background-color: white;
    color: #FF0000;
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

article {
    display: flex;
    flex-direction: column;
}

.blog {
    color: black;
    margin: 70px 0;
}

.blog__section {
    color: #6A6A6A;
    display: flex;
    justify-content: space-between;
}

.blog__headline {
    margin: 80px 0 40px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.line {
    border: 2px solid #FF0000;
    border-radius: 10px;
    width: 40px;
    height: 0px;
    margin: 0 10px;
}

.blog__title {
    margin: 20px 0;
    font-size: 25px;
    text-align: left;
}

p.blog__text {
    margin: 0 0 20px 0;
}

.blog a.btn__primary {
    width: max-content;
    padding: 13px 30px;
    font-weight: 500;
    font-size: 14px;
}

.blog__image {
    width: 352px;
}

.blog__article {
    width: 352px;
}

.service {
    margin: 80px 0 40px 0;
    padding-bottom: 100px;
    background-color: #28272C;
}

.service__headline {
    padding: 70px 0;
}

.service__section {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.service__article {
    width: 231px;
    display: flex;
    justify-content: center;
}

.service__image {
    width: 170px;
    align-self: center;
}

.service__title {
    font-size: 19px;
    color: white;
    margin: 20px 0;
}

.service__text {
    font-size: 14x;
    opacity: 0.5;
    font-weight: 200;
    margin: 0 0 20px 0;
}

.contact {
    color: black;
}

.contact__headline {
    padding: 50px 0;
}

.contact__section {
    display: flex;
}

.contact__article {
    width: 50%;
}

.contact__image {
    width: 100%;
}

.contact__form {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.contact__submit {
    border: 1px solid #FF0000;
    padding: 10px 50px;
    border-radius: 30px;
    background-color: white;
    align-self: flex-end;
    margin-top: 20px;
}

input[type="text"],
input[type="email"],
textarea {
    font-family: 'Nunito Sans', sans-serif;
    padding: 15px;
    margin: 7px 0;
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 1px solid #FF0000;
    outline: none;
    box-shadow: 0 1px 4px #ff000077;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #D1D1D1;
    margin: auto 0;
    border-radius: 7px;
    background-color: white;
    position: relative;
    outline: none;
}

input[type="checkbox"]:checked:after {
    content: "✔";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #FF0000;
    font-weight: bold;
    position: absolute;
    left: 20%;
    top: 0%;
}

.contact__info {
    display: inline-block;
    color: #B2B2B2;
}

textarea {
    min-height: 150px;
    resize: none;
}

footer {
    background-color: #28272C;
    height: 200px;
    margin-top: 100px;
}

.footer__logo {
    padding: 20px;
    font-size: 35px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-self: start;
    width: 50%;
    cursor: default;
}

.footer__logo span {
    color: #FF0000;
}

.footer__content {
    display: flex;
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.5em;
}

.footer__navigation {
    margin-right: 80px;
}

.footer__content p:hover {
    color: #FF0000;
}

.footer__copyright {
    margin-left: auto;
    align-self: flex-end;
    font-size: 0.8em;
    font-weight: 200;
    color: #D1D1D1;
    text-transform: none;
}

.footer__copyright p:hover {
    color: #D1D1D1;
}